PORT=5000

MONGO_URI=

REDIS_HOST=localhost
REDIS_PORT=6379

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LAMBDA_FUNCTION_NAME=

EC2_HOST=
EC2_USER=
SSH_PRIVATE_KEY_PATH=

# Use same email from Certbot.
SSL_EMAIL=